<% provide :title, 'Not Found' %>
<% content_for :body do %>
	<p>The requested resource could not be found; it may have been deleted, or it may have never existed at all.</p>
<% end %>
<%= render 'errors/generic_error' %>
