<div class="row">
	<div class="col 12s">
		<h5><%= errors.count %> <%= 'Error'.pluralize(errors.count) %></h5>
		<ul>
			<% errors.each do |error| %>
				<li><%= error %></li>
			<% end %>
		</ul>
	</div>
</div>