<div class="card red darken-2">
	<div class="card-content white-text">
		<span class="card-title"><%= content_for :title %></span>
		<%= content_for :body %>
	</div>
	<div class="card-action">
		<%= link_to 'Return to Home Page', root_path, :class => 'white-text' %>
	</div>
</div>