<% provide :title, 'Unauthorized: Blocked' %>
<% content_for :body do %>
	<p>Your account has been permanently blocked, because of this you do not have the appropriate permissions to perform the requested action.</p>
<% end %>
<%= render 'errors/generic_error' %>
